input {

	display: inline; 
}

#chatroom {
			font-family: Courier New; 
			font-style: oblique; 
			font-size: 25px;
			color: blue;
			height: 500px;
			width: 1000px;
			display: none; 	
			background-image: url("assets/codeColors.jpg");
			margin: 100px;
			position: center;"

}